################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DockerDemo/FileContentIndex/1ecc8175-28f6-4f3a-b5a3-9b13c86239aa.vsidx
